@page
@model GraduateStudyWebApp.Pages.WebApp.LoginPcModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="~/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- 引入 jQuery 库 -->
    <script src="~/jquery.mobile-1.4.5/jquery-1.11.1.min.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="~/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
    <title>Title</title>
    <script>
        var LoginIp = returnCitySN.cip;

         var strUrl_Session_SetString = "@Model.Url_Session_SetString";
    var strUrl_Session_GetString = "@Model.Url_Session_GetString";
        var strWebRoot = "@Model.WebRoot";

        function SetSession(Key, Value) {

            $.ajax({
                url: "/Session/SetString",
                cache: false,
                async: false,
                type: 'get',
                dataType: "json",
                data: {
                    Key: Key,
                    Value: Value
                },
                success: function (data) {
                    //$('#myValue').val(text);
                    var strKey = data.key;
                    var strValue = data.value;

                    $('#myKey').html(strKey);
                    $('#myValue').html(strValue);
                    console.log(strKey + strValue);

                }

            });
        }

        /*
查询记录
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
*/
        function btnLogin_Click() {
            require(["../js/WebApp/LoginPcEx.js"], function (users) {
                $("#Text1").val("进入函数：btnLogin_Click");
                var objPage = new users.Login_TSEx();
                objPage.btnQuery_Click();
            });
        }


    </script>
</head>
<body>
    <!--登陆页面-->
    <div data-role="page" id="pageLogin">
        <div data-role="header">
            <h1 role="heading">研究生学习系统</h1>
        </div>
        <div data-role="main" class="ui-content">
            <form method="get" action="">
                <div class="ui-field-contain">
                    <label for="name">姓名:</label>
                    <input type="text" name="txtUserId" id="txtUserId">
                    <br />
                    <label for="password">密码:</label>
                    <input type="password" name="txtPassword" id="txtPassword">
                    <div style="margin-top: 20%;">
                        <a href="" rel="external" data-role="button" data-transition="flow" onclick="btnLogin_Click()">登录</a>
                        <a href="#pagetwo" data-role="button" data-transition="flip">注册</a>
                    </div>
                </div>
            </form>
        </div>
        <div data-role="footer" style="text-align: center" data-position="fixed">
            <p>CopyRight &copy;泰泽教育</p>
        </div>
    </div>
    <!--注册页面-->
    <div data-role="page" id="pagetwo" data-theme="b">
        <div data-role="header">
            <h1>欢迎注册</h1>
        </div>
        <div data-role="main" class="ui-content">
            <form method="get" action="">
                <div class="ui-field-contain">
                    <label for="Rname">姓名:</label>
                    <input type="text" name="name" id="Rname">
                    <br />
                    <label for="Rpassword">密码:</label>
                    <input type="password" name="password" id="Rpassword">
                    <br />
                    <label for="Repassword">重复密码:</label>
                    <input type="password" name="password" id="Repassword">
                    <div style="margin-top: 20%;">
                        <a href="#pageLogin" data-role="button" data-transition="flow" data-direction="reverse">确定</a>
                        <a href="#pageLogin" data-role="button" data-transition="flip" data-direction="reverse">登录</a>
                    </div>
                </div>
            </form>
        </div>
        <div data-role="footer" style="text-align: center" data-position="fixed">
            <p>CopyRight &copy;泰泽教育</p>
        </div>
    </div>
    <input id="hidUserInfo" type="hidden" value="@Model.GetSession("objvUserRoleRelation")" />
</body>
</html>
