<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <CipherData>
        <CipherValue>enlfemdoX2Z3el8wOTg3NmGhGq9XUwz8wT1aq5eCapPDES1NMitDtfy8a+znCtWLJ2UeQN3vx5q3Ekdp84vFlDfAKCLwX71UXdLOGTq97fm62u1ScmGKaZV3XEjk5MKEMCfGSPGrT2eseiokhQxC1Slk7bzv1oQB/I+N1ZF0afCqfs5bh+bbNod5sPyEsqAprDkKDIi0tDwaKNqCXoy2l7ZNrphNffq2nrLWbUiVzEBzkhOargptdYDNoQFIp79LxxDITe4lmu+8b0ogyPA7xpNlooXvwqK/NOXNcbKIDEz0Xcv44+wzlDFsx0k8ETMP</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>