<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="codeHighlighter" requirePermission="false" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20"/>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <!--设置system目录的相对路径,请相对于web.config文件所在的目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置systemfolder属性,方便项目的整体调用)-->
    <add key="systemfolder" value="./system_dntb/"/>
    <!--设置皮肤目录的相对路径,请相对于system目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置skin属性,方便项目的整体调用)-->
    <add key="skin" value="./skin/xp/"/>
    <add key="PrjID" value="0107"/>
    <add key="strWebFileDir" value="~/tempfiles"/>
    <add key="lngMaxFileSize" value="10240000"/>
    <add key="SamXlsFileName" value="ExcelSam2003.xls"/>

    <add key="sitename" value="上海泰育信息技术有限公司"/>


  </appSettings>



  <system.web>
    <!--<compilation debug="true" targetFramework="4.6.1"/>-->
    <compilation debug="true" targetFramework="4.0">

    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--<httpRuntime targetFramework="4.6.1"/>-->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="409600" executionTimeout="300" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0" />
  </system.web>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->

</configuration>
