
@page
@{
Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../js/site.js" asp-append-version="true"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>
//所有用户自定义的JS函数建议都放在这里


</script>
     <script>    

 /*
  按钮单击,用于调用Js函数中btnEdit_Click
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_btnEdit_Click)
 */
function btnAcademicJournals_Edit_Click(strCommandName, strKeyId) {
   require(["../js/GraduateEduPaper/AcademicJournals_EditEx.js"], function(academicjournals) {
academicjournals.AcademicJournals_EditEx.btnEdit_Click(strCommandName, strKeyId);
});
}

 /*
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
 */
function ShowDialog(strDialogName) {
   require(['jquery', 'bootstrap'], function($) {
 $(strDialogName).modal('show');
  });
}

 /*
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
 */
function HideDialog(strDialogName) {
  require(['jquery', 'bootstrap'], function($) {
      $(strDialogName).modal('hide');
  });
}
    </script>
<div id="divEditLayout" class="tab_layout">
@*-- 编辑层 --*@

 <div class="modal fade" id="divEditDialog_AcademicJournals" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_AcademicJournals" aria-hidden="true">
 <div class="modal-dialog">
 <div class="modal-content" style="width: 635px;">
 <div class="modal-header">
 <h4 class="modal-title" id="lblDialogTitle_AcademicJournals">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width:600px" class="table table-bordered table-hover table td table-sm">
<tr id="trJournalId">
<td class="text-right">
<Label id="lblJournalId" name="lblJournalId" class="col-form-label text-right" style="width:90px;">期刊Id
</Label>
</td>
<td class="text-left">
<input  id="txtJournalId" name="txtJournalId" class="form-control-sm" style="width:300px;"/>
</td>
</tr>
<tr id="trJournalName">
<td class="text-right">
<Label id="lblJournalName" name="lblJournalName" class="col-form-label text-right" style="width:90px;">期刊名称
</Label>
</td>
<td class="text-left">
<input  id="txtJournalName" name="txtJournalName" class="form-control-sm" style="width:300px;"/>
</td>
</tr>
<tr id="trJournalSubjectCategoryId">
<td class="text-right">
<Label id="lblJournalSubjectCategoryId" name="lblJournalSubjectCategoryId" class="col-form-label text-right" style="width:90px;">学科门类
</Label>
</td>
<td class="text-left">
<select id="ddlJournalSubjectCategoryId" name="ddlJournalSubjectCategoryId" class="form-control-sm" style="width:300px;"></select>
</td>
</tr>
<tr id="trJournalSubjectId">
<td class="text-right">
<Label id="lblJournalSubjectId" name="lblJournalSubjectId" class="col-form-label text-right" style="width:90px;">学科
</Label>
</td>
<td class="text-left">
<select id="ddlJournalSubjectId" name="ddlJournalSubjectId" class="form-control-sm" style="width:300px;"></select>
</td>
</tr>
<tr id="trMemo">
<td class="text-right">
<Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">备注
</Label>
</td>
<td class="text-left">
<input  id="txtMemo" name="txtMemo" class="form-control-sm" style="width:300px;"/>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel_AcademicJournals" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 <button  id="btnSubmit_AcademicJournals" type="button" class="btn btn-primary" onclick="btnAcademicJournals_Edit_Click('Submit')">添加</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
</div>