
@page
@{
Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
     <script>    

 /**
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Detail_TS4Html:Gen_WApi_JS_HideDialog)
 **/
function HideDialog(strDialogName) {
  require(['jquery', 'bootstrap'], function($) {
      $(strDialogName).modal('hide');
  });
}

 /**
  显示对话框
 (AutoGCLib.WA_ViewScript_Detail_TS4Html:Gen_WApi_JS_ShowDialog)
 **/
function ShowDialog(strDialogName) {
   require(['jquery', 'bootstrap'], function($) {
 $(strDialogName).modal('show');
  });
}
    </script>
<div id = "tabLayout" class = "tab_layout" 
>
@*-- 详细信息层 --*@

 <div class="modal fade" id="divDetailDialog_gs_PaperVer" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_gs_PaperVer" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
 <div class="modal-content" style="width: 635px;">
 <div class="modal-header">
 <h4 class="modal-title" id="lblDialogTitle_gs_PaperVer">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width:600px" class="table table-bordered table-hover table td table-sm">
<tr >
<td class="text-right">
<span id="spnPaperId_d" name="spnPaperId_d" CssClass="col-form-label text-right">论文Id</span>
</td>
<td class="text-left">
<label id="lblPaperId_d" name="lblPaperId_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnPaperTitle_d" name="spnPaperTitle_d" CssClass="col-form-label text-right">论文标题</span>
</td>
<td class="text-left">
<label id="lblPaperTitle_d" name="lblPaperTitle_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnPaperContent_d" name="spnPaperContent_d" CssClass="col-form-label text-right">主题内容</span>
</td>
<td class="text-left">
<label id="lblPaperContent_d" name="lblPaperContent_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnPeriodical_d" name="spnPeriodical_d" CssClass="col-form-label text-right">期刊</span>
</td>
<td class="text-left">
<label id="lblPeriodical_d" name="lblPeriodical_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnAuthor_d" name="spnAuthor_d" CssClass="col-form-label text-right">作者</span>
</td>
<td class="text-left">
<label id="lblAuthor_d" name="lblAuthor_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnResearchQuestion_d" name="spnResearchQuestion_d" CssClass="col-form-label text-right">研究问题</span>
</td>
<td class="text-left">
<label id="lblResearchQuestion_d" name="lblResearchQuestion_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnKeyword_d" name="spnKeyword_d" CssClass="col-form-label text-right">关键字</span>
</td>
<td class="text-left">
<label id="lblKeyword_d" name="lblKeyword_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnLiteratureSources_d" name="spnLiteratureSources_d" CssClass="col-form-label text-right">文献来源</span>
</td>
<td class="text-left">
<label id="lblLiteratureSources_d" name="lblLiteratureSources_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnLiteratureLink_d" name="spnLiteratureLink_d" CssClass="col-form-label text-right">文献链接</span>
</td>
<td class="text-left">
<label id="lblLiteratureLink_d" name="lblLiteratureLink_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnUploadfileUrl_d" name="spnUploadfileUrl_d" CssClass="col-form-label text-right">文件地址</span>
</td>
<td class="text-left">
<label id="lblUploadfileUrl_d" name="lblUploadfileUrl_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnIsQuotethesis_d" name="spnIsQuotethesis_d" CssClass="col-form-label text-right">是否引用论文</span>
</td>
<td class="text-left">
<label id="lblIsQuotethesis_d" name="lblIsQuotethesis_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnIsSubmit_d" name="spnIsSubmit_d" CssClass="col-form-label text-right">是否提交</span>
</td>
<td class="text-left">
<label id="lblIsSubmit_d" name="lblIsSubmit_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnIsChecked_d" name="spnIsChecked_d" CssClass="col-form-label text-right">是否检查</span>
</td>
<td class="text-left">
<label id="lblIsChecked_d" name="lblIsChecked_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnQuoteId_d" name="spnQuoteId_d" CssClass="col-form-label text-right">引用Id</span>
</td>
<td class="text-left">
<label id="lblQuoteId_d" name="lblQuoteId_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnChecker_d" name="spnChecker_d" CssClass="col-form-label text-right">审核人</span>
</td>
<td class="text-left">
<label id="lblChecker_d" name="lblChecker_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnLiteratureTypeId_d" name="spnLiteratureTypeId_d" CssClass="col-form-label text-right">作文类型Id</span>
</td>
<td class="text-left">
<label id="lblLiteratureTypeId_d" name="lblLiteratureTypeId_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnUpdUser_d" name="spnUpdUser_d" CssClass="col-form-label text-right">修改人</span>
</td>
<td class="text-left">
<label id="lblUpdUser_d" name="lblUpdUser_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnUpdDate_d" name="spnUpdDate_d" CssClass="col-form-label text-right">修改日期</span>
</td>
<td class="text-left">
<label id="lblUpdDate_d" name="lblUpdDate_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnid_CurrEduCls_d" name="spnid_CurrEduCls_d" CssClass="col-form-label text-right">教学班流水号</span>
</td>
<td class="text-left">
<label id="lblid_CurrEduCls_d" name="lblid_CurrEduCls_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnPaperTypeId_d" name="spnPaperTypeId_d" CssClass="col-form-label text-right">论文类型Id</span>
</td>
<td class="text-left">
<label id="lblPaperTypeId_d" name="lblPaperTypeId_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
<tr >
<td class="text-right">
<span id="spnPaperStatusId_d" name="spnPaperStatusId_d" CssClass="col-form-label text-right">论文状态Id</span>
</td>
<td class="text-left">
<label id="lblPaperStatusId_d" name="lblPaperStatusId_d" class="text-primary" style="width:150px;">
</label>
</td>
<td class="text-right">
<span id="spnMemo_d" name="spnMemo_d" CssClass="col-form-label text-right">备注</span>
</td>
<td class="text-left">
<label id="lblMemo_d" name="lblMemo_d" class="text-primary" style="width:150px;">
</label>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel_d_gs_PaperVer" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
</div>