<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TargetProject" value="LZKQ"/>
    <add key="RunTimes" value="12:10:00"/>
    <add key="LogDir" value="D:\Log\Agc_DataSyn\"/>
    <add key="ConditionStr_S" value="  iden_no in('11') and card_NO is not null "/>
    <add key="ConditionStr_SBak2" value=" iden_no in('15') and card_state='12' "/>
    <add key="ConditionStr_SBak" value=" iden_no in('11') and (substring(grade,1,2) in ('05','06','07','08','20')) and card_NO is not null"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IsDebug4PubDatabase" value="True"/>
    <add key="LogDir4Debug" value="D:\Log\Agc_DataSyn\"/>
  </appSettings>
  <connectionStrings>
	  <add name="ConnectionString" connectionString="server=101.251.68.133,9433;uid=agccs;pwd=a1b2c3@tz4300;database=AGC_CS12;Pooling=true; Min Pool Size=50;Max Pool Size=150;" providerName="System.Data.SqlClient"/>
	  <add name="ConnectionStringWeb" connectionString="server=192.168.1.10,9433;uid=agccs;pwd=a1b2c3@tz4300;database=AGC_CS12;Pooling=true; Min Pool Size=50;Max Pool Size=150;" providerName="System.Data.SqlClient"/>
	  <add name="ConnectionStringClient" connectionString="server=192.168.1.10,9433;uid=agccs;pwd=a1b2c3@tz4300;database=AGC_CS12;Pooling=true; Min Pool Size=50;Max Pool Size=150;" providerName="System.Data.SqlClient"/>
	  <add name="ConnectionStringWeb2" connectionString="server=202.121.63.42,9433;uid=agccs;pwd=a1b2c3@tz4300;database=AGC_CS12;Pooling=true; Min Pool Size=50;Max Pool Size=150;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
