
@page
@{
Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>
//所有用户自定义的JS函数建议都放在这里


</script>
     <script>    

 /**
  按钮单击,用于调用Js函数中btnEdit_Click
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_btnEdit_Click)
 **/
function btnQxUsers_Edit_Click(strCommandName, strKeyId) {
   require(["../js/BaseInfo/QxUsers_EditEx.js"], function(qxusers) {
qxusers.QxUsers_EditEx.btnEdit_Click(strCommandName, strKeyId);
});
}

 /**
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
 **/
function ShowDialog(strDialogName) {
   require(['jquery', 'bootstrap'], function($) {
 $(strDialogName).modal('show');
  });
}

 /**
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
 **/
function HideDialog(strDialogName) {
  require(['jquery', 'bootstrap'], function($) {
      $(strDialogName).modal('hide');
  });
}
    </script>
<div id = "divEditLayout" class = "tab_layout" 
>
@*-- 编辑层 --*@

 <div class="modal fade" id="divEditDialog_QxUsers" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_QxUsers" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
 <div class="modal-content" style="width: 235px;">
 <div class="modal-header">
 <h4 class="modal-title" id="lblDialogTitle_QxUsers">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width:200px" class="table table-bordered table-hover table td table-sm">
<tr id="trUserName">
<td class="text-right">
<label id="lblUserId" name="lblUserId" class="col-form-label text-right" style="width:90px;">用户ID
</label>
</td>
<td class="text-left">
<input  id="txtUserId" name="txtUserId" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblUserName" name="lblUserName" class="col-form-label text-right" style="width:90px;">用户名
</label>
</td>
<td class="text-left">
<input  id="txtUserName" name="txtUserName" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trid_XzCollege">
<td class="text-right">
<label id="lblDepartmentId" name="lblDepartmentId" class="col-form-label text-right" style="width:90px;">部门Id
</label>
</td>
<td class="text-left">
<select id="ddlDepartmentId" name="ddlDepartmentId" class="form-control-sm" style="width:200px;"></select>
</td>
<td class="text-right">
<label id="lblid_XzCollege" name="lblid_XzCollege" class="col-form-label text-right" style="width:90px;">学院流水号
</label>
</td>
<td class="text-left">
<select id="ddlid_XzCollege" name="ddlid_XzCollege" class="form-control-sm" style="width:200px;"></select>
</td>
</tr>
<tr id="trid_GradeBase">
<td class="text-right">
<label id="lblUserStateId" name="lblUserStateId" class="col-form-label text-right" style="width:90px;">用户状态Id
</label>
</td>
<td class="text-left">
<input  id="txtUserStateId" name="txtUserStateId" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblid_GradeBase" name="lblid_GradeBase" class="col-form-label text-right" style="width:90px;">年级流水号
</label>
</td>
<td class="text-left">
<select id="ddlid_GradeBase" name="ddlid_GradeBase" class="form-control-sm" style="width:200px;"></select>
</td>
</tr>
<tr id="trIsLeaved">
<td class="text-right">
<label id="lblCard_State" name="lblCard_State" class="col-form-label text-right" style="width:90px;">Card_State
</label>
</td>
<td class="text-left">
<input  id="txtCard_State" name="txtCard_State" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-left" ColSpan=2>
<span class="form-control-sm"  style="width:200px;">
<input type="checkbox"  id="chkIsLeaved" name="chkIsLeaved" Text = "IsLeaved"  ><label for="chkIsLeaved">IsLeaved</label></span>
</td>
</tr>
<tr id="trBeginYearMonth">
<td class="text-right">
<label id="lblCardNo" name="lblCardNo" class="col-form-label text-right" style="width:90px;">卡号
</label>
</td>
<td class="text-left">
<input  id="txtCardNo" name="txtCardNo" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblBeginYearMonth" name="lblBeginYearMonth" class="col-form-label text-right" style="width:90px;">开始年月
</label>
</td>
<td class="text-left">
<input  id="txtBeginYearMonth" name="txtBeginYearMonth" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trOptUser">
<td class="text-right">
<label id="lblEndYearMonth" name="lblEndYearMonth" class="col-form-label text-right" style="width:90px;">结束年月
</label>
</td>
<td class="text-left">
<input  id="txtEndYearMonth" name="txtEndYearMonth" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblOptUser" name="lblOptUser" class="col-form-label text-right" style="width:90px;">OptUser
</label>
</td>
<td class="text-left">
<input  id="txtOptUser" name="txtOptUser" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trMemo">
<td class="text-right">
<label id="lblOptDate" name="lblOptDate" class="col-form-label text-right" style="width:90px;">OptDate
</label>
</td>
<td class="text-left">
<input  id="txtOptDate" name="txtOptDate" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">备注
</label>
</td>
<td class="text-left">
<input  id="txtMemo" name="txtMemo" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trIsGpUser">
<td class="text-right">
<label id="lblPassword" name="lblPassword" class="col-form-label text-right" style="width:90px;">Password
</label>
</td>
<td class="text-left">
<input  id="txtPassword" name="txtPassword" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-left" ColSpan=2>
<span class="form-control-sm"  style="width:200px;">
<input type="checkbox"  id="chkIsGpUser" name="chkIsGpUser" Text = "是否Gp用户"  ><label for="chkIsGpUser">是否Gp用户</label></span>
</td>
</tr>
<tr id="trAvatarsPicture">
<td class="text-right">
<label id="lblSchoolID1" name="lblSchoolID1" class="col-form-label text-right" style="width:90px;">学校编号
</label>
</td>
<td class="text-left">
<input  id="txtSchoolID1" name="txtSchoolID1" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblAvatarsPicture" name="lblAvatarsPicture" class="col-form-label text-right" style="width:90px;">AvatarsPicture
</label>
</td>
<td class="text-left">
<input  id="txtAvatarsPicture" name="txtAvatarsPicture" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trPhoneNumber">
<td class="text-right">
<label id="lblEmail" name="lblEmail" class="col-form-label text-right" style="width:90px;">电子邮箱
</label>
</td>
<td class="text-left">
<input  id="txtEmail" name="txtEmail" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblPhoneNumber" name="lblPhoneNumber" class="col-form-label text-right" style="width:90px;">PhoneNumber
</label>
</td>
<td class="text-left">
<input  id="txtPhoneNumber" name="txtPhoneNumber" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trEffitiveBeginDate">
<td class="text-right">
<label id="lblEffectiveDate" name="lblEffectiveDate" class="col-form-label text-right" style="width:90px;">EffectiveDate
</label>
</td>
<td class="text-left">
<input  id="txtEffectiveDate" name="txtEffectiveDate" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblEffitiveBeginDate" name="lblEffitiveBeginDate" class="col-form-label text-right" style="width:90px;">EffitiveBeginDate
</label>
</td>
<td class="text-left">
<input  id="txtEffitiveBeginDate" name="txtEffitiveBeginDate" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trid_College">
<td class="text-right">
<label id="lblEffitiveEndDate" name="lblEffitiveEndDate" class="col-form-label text-right" style="width:90px;">EffitiveEndDate
</label>
</td>
<td class="text-left">
<input  id="txtEffitiveEndDate" name="txtEffitiveEndDate" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblid_College" name="lblid_College" class="col-form-label text-right" style="width:90px;">学院流水号
</label>
</td>
<td class="text-left">
<input  id="txtid_College" name="txtid_College" class="form-control-sm" style="width:200px;"/>
</td>
</tr>
<tr id="trIdentityID">
<td class="text-right">
<label id="lblStuTeacherID" name="lblStuTeacherID" class="col-form-label text-right" style="width:90px;">学工号
</label>
</td>
<td class="text-left">
<input  id="txtStuTeacherID" name="txtStuTeacherID" class="form-control-sm" style="width:200px;"/>
</td>
<td class="text-right">
<label id="lblIdentityID" name="lblIdentityID" class="col-form-label text-right" style="width:90px;">身份编号
</label>
</td>
<td class="text-left">
<select id="ddlIdentityID" name="ddlIdentityID" class="form-control-sm" style="width:200px;"></select>
</td>
</tr>
<tr id="trIsArchive">
<td class="text-left" ColSpan=2>
<span class="form-control-sm"  style="width:200px;">
<input type="checkbox"  id="chkIsArchive" name="chkIsArchive" Text = "IsArchive"  ><label for="chkIsArchive">IsArchive</label></span>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel_QxUsers" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 <button  id="btnSubmit_QxUsers" type="button" class="btn btn-primary" onclick="btnQxUsers_Edit_Click('Submit')">添加</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
<input id="hidOpType" type="hidden" />
<input id="hidKeyId" type="hidden" />
</div>