<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGC</title>

    @RenderSection("Styles", required: false)
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <a asp-page="/Index" class="navbar-brand">AGC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a asp-page="/Index">Home</a></li>

                <li class="nav-item ml-2"><a asp-page="/Index/Login">登录</a></li>
                <li class="nav-item ml-2"><a asp-page="/TestSession/TestSession1">存Session</a></li>
                <li class="nav-item ml-2"><a asp-page="/TestSession/TestSession2">取Session</a></li>
                <li class="nav-item ml-2"><a asp-page="/GraduateEduPaper_UT/WApigs_PaperGroup_UT_TS">论文组维护-UT</a></li>


            </ul>

        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - AGC</p>
        </footer>
    </div>

 

    @RenderSection("Scripts", required: false)
</body>
</html>
