@page
@model SimplePrj.Pages.PubWebClass.pager2Model
@{
    Layout = "~/Pages/Shared/_Layout_Empty.cshtml";
}
<ul class="nav" id="page">
    <li id="shouye" class="nav-item p-prev disabled">
        <a href='javascript:IndexPage(1);' class="btn btn-outline-info btn-sm">首 页</a>
    </li>
    <li id="shangyiye" class="nav-item p-prev disabled">
        <a href='javascript:PrevPage();' class="btn btn-outline-info btn-sm"><i></i>上一页</a>
    </li>
    <li class="nav-item "><a id="one" href="javascript:void(0);"  class="btn btn-outline-info btn-sm">1</a></li>
    <li class="nav-item "><a id="two" href="javascript:void(0);"  class="btn btn-outline-info btn-sm">2</a></li>
    <li class="nav-item "><a id="three" href="javascript:void(0);" class="btn btn-outline-info btn-sm">3</a></li>
    <li class="nav-item more"><a id="five" href="javascript:void(0);"  class="btn btn-outline-info btn-sm">...</a></li>
    <li class="nav-item "><a id="fore" href="javascript:void(0);" class="btn btn-outline-info btn-sm">13855</a></li>

    <li class='nav-item p-next'>
        <a href='javascript:NextPage();'  class="btn btn-outline-info btn-sm">下一页<i></i></a>
    </li>
    <li id="weiye" class='nav-item p-next'>
        <a href='javascript:void(0);' onclick="IndexPage(0);" class="btn btn-outline-info btn-sm">尾 页</a>
    </li>
    <li class="nav-item total">
        <span id="countpage">
            2/13855
        </span>
    </li>

    <li class="nav-item total">
        <span id="span_number">
            共13855页 到第<input type="text" id="input_number" class="page-txtbox" />页
            <input name="" value="确定" type="button" onclick="JumpToPage();" class="btn btn-outline-info btn-sm" />
        </span>
    </li>
</ul>