
<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8" />
<title>应用类型的前后台关系CRUD </title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Css/site.css" rel="stylesheet" />
    <script src="../../scripts/jquery-3.4.1.min.js"></script>
<script data-main="../../js/src/config" src="../../scripts/require.js"></script>
<script type="text/javascript">

 /*
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_JS4Html:Gen_WApi_JS_HideDialog)
 */
function HideDialog() {
  require(['jquery', 'bootstrap'], function($) {
      $('#divEditRegion').modal('hide');
  });
}

 /*
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_JS4Html:Gen_WApi_JS_ShowDialog)
 */
function ShowDialog(pstrOp) {
   strOp = pstrOp;
   require(['jquery', 'bootstrap'], function($) {
       if (strOp === "Add") {
           $('#myModalLabel').html('添加记录');
//WA_FrontAndBack4AppType_EditEx.GetMaxStrId('#txtmId');
        }
else if (strOp === "Update")
{
            $('#myModalLabel').html('修改记录');
}
else if (strOp === "Detail")
{
            $('#btnOKUpd').hide();
            $('#myModalLabel').html('详细信息');
}
        $('#divEditRegion').modal('show');
  });
}
    </script>
</head>
<body>
<!-- 编辑层 -->

 <div class="modal fade" id="divEditRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
 <div class="modal-content" style="width: 800px;">
 <div class="modal-header">
 <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width: 70%; " class="table table-bordered table-hover table td table-sm">
<tr>
<td>
<Label id="lblAppTypeId4Front" name="lblAppTypeId4Front" class="col-form-label text-right" style="width:90px;">应用类型Id4Front
</Label>
</td>
<td>
<select id="ddlAppTypeId4Front" name="ddlAppTypeId4Front" class="form-control" style="width:200px;"></select>
<asp:CompareValidator id="ComValid_AppTypeId4Front" name="ComValid_AppTypeId4Front" runat="server" CssClass="ErrMsg"
 ErrorMessage="请输入整型数值!"
 ControlToValidate="ddlAppTypeId4Front"
 Type="Integer"
 Operator="DataTypeCheck"
 EnableClientScript="false">
</asp:CompareValidator>
</td>
<td>
<Label id="lblAppTypeId4Back" name="lblAppTypeId4Back" class="col-form-label text-right" style="width:90px;">应用类型Id4Back
</Label>
</td>
<td>
<select id="ddlAppTypeId4Back" name="ddlAppTypeId4Back" class="form-control" style="width:200px;"></select>
<asp:CompareValidator id="ComValid_AppTypeId4Back" name="ComValid_AppTypeId4Back" runat="server" CssClass="ErrMsg"
 ErrorMessage="请输入整型数值!"
 ControlToValidate="ddlAppTypeId4Back"
 Type="Integer"
 Operator="DataTypeCheck"
 EnableClientScript="false">
</asp:CompareValidator>
</td>
</tr>
<tr>
<td>
<Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">说明
</Label>
</td>
<td>
<input  id="txtMemo" name="txtMemo" class="form-control" style="width:200px;"/>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 <button  id="btnOKUpd" type="button" class="btn btn-primary" onclick="mySubmit()">添加</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
</body>
</html>