@page
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<script>
    window.onload = function () {
        //window.top.location.href = "/graduatestudywebapp/GraduateEdu_UT/WApivDiscussionTopics_UT_TS";
    
        //window.top.location.href = "/graduatestudywebapp/usermanage_ut/WApiUserType_UT_TS";
        //window.top.location.href = "/GraduateStudyWebApp/GraduateEdu_UT/WApivPaper_UT_TS";
        //window.top.location.href = "/GraduateStudyWebApp/UserManage_UT/WApiUsers_UT_TS";
        //pc端
        //window.top.location.href = "/GraduateStudyWebApp/Web/Login";
        window.top.location.href = "/GraduateStudyWebApp/Web/Index";
        //手机端
        //window.top.location.href = "/GraduateStudyWebApp/WebApp/Login";
        //window.top.location.href = "/GraduateStudyWebApp/GraduateEdu/TestTab";
        //window.location.href = "/GS/Web/Login";
        //window.top.location.href = "/GraduateStudyWebApp/GraduateEdu/SysComment_QUDI_TS";
    }
</script>
<div class="text-center">
    <div style="margin-left:45%;margin-top:300px;"><img src="~/images/CirclePoint.gif" height="100" width="100" /></div>
</div>
