<?xml version="1.0" encoding="utf-8" ?>
<FunBtn>
  <!-- 版本信息 -->
  <info version="1.00" updatetime="2013-01-01 10:00:00.123" isautoupdate="true" />
  <!-- 引用的程序集和命名空间 -->
  <assembly>
    <dll name="system.dll" />
    <dll name="system.data.dll" />
    <dll name="system.xml.dll" />
    <dll name="system.windows.forms.dll" />
    <dll name="System.Xml.Linq.dll" />
    <dll name="E:\AspNet2011\AGC\AgcDynamicLib\bin\Debug\AgcEN.dll" />
    <dll name="E:\AspNet2011\AGC\AgcDynamicLib\bin\Debug\AgcDA.dll" />
    <dll name="E:\AspNet2011\AGC\AgcDynamicLib\bin\Debug\AgcBusinessLogic.dll" />
    <dll name="E:\AspNet2011\AGC\AgcDynamicLib\bin\Debug\AgcBusinessLogicEx.dll" />
    <!--<dll name="E:\AspNet2011\AGC\AgcDynamicLib\bin\Debug\AutoGCLib.dll" />-->

    <using name="using System;" />
    <using name="using System.Data;" />
    <using name="using System.Data.SqlClient;" />
    <using name="using System.Data.OleDb;" />
    <using name="using System.Xml;" />
    <using name="using System.Windows.Forms;" />
    <!--<using name="using AGC.BusinessLogic;" />
    <using name="using AGC.BusinessLogicEx;" />-->
    <using name="using AGC.Entity;" />
    <!--<using name="using AgcCommBase;" />
    <using name="using com.taishsoft.commdb;" />
    <using name="using com.taishsoft.common;" />-->
    <using name="using System.Collections.Generic;" />
    <!--<using name="using System.Linq;" />-->
    <using name="using System.Text;" />
  </assembly>
  <!-- 按钮属性和方法 -->
  <btndetail>
    <btn name="btnDelOrder" value="删除订单" type="funbtn" rank="0" left="10" top="5" returntype="void" code="new DelOrderBtn().DelOrder(Form1.objs)" />
    <btn name="btnCheckOut" value="结 账" type="funbtn" rank="-1" left="10" top="335" returntype="void" code="new CheckOutBtn().CheckOut(Form1.objs)" />
    <btn name="btnClose" value="退出" type="funbtn" rank="-1" left="240" top="335" returntype="void" code="Application.Exit()" />
    <btn name="btnDelAllOrder" value="整单删除" type="funbtn" rank="-1" left="240" top="225" returntype="void" code="new DelOrderBtn().DelOrder(Form1.objs)" />
    <btn name="btnMore" value="更 多" type="funbtn" rank="6" left="10" top="230" returntype="void" code="new frmMore().Show()" />
  </btndetail>
</FunBtn>

