@page
@{
    Layout = "";
}
@section Styles{
<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="../lib/bootstrap/dist/js/popper.js"></script>
<script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>
    //所有用户自定义的JS函数建议都放在这里


</script>
<script>


     /**
      按钮单击,用于调用Js函数中btnEdit_Click
     (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_btnEdit_Click)
     **/
    function btnResearchTopic_Edit_Click(strCommandName, strKeyId) {
       require(["../js/GraduateEduTopic/ResearchTopic_EditEx.js"], function(researchtopic) {
    researchtopic.ResearchTopic_EditEx.btnEdit_Click(strCommandName, strKeyId);
    });
    }

     /**
      显示对话框
     (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
     **/
    function ShowDialog(strDialogName) {
       require(['jquery', 'bootstrap'], function($) {
     $(strDialogName).modal('show');
      });
    }

     /**
      隐藏对话框
     (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
     **/
    function HideDialog(strDialogName) {
      require(['jquery', 'bootstrap'], function($) {
          $(strDialogName).modal('hide');
      });
    }
</script>
<div id="divEditLayout" class="tab_layout">
    @*-- 编辑层 --*@

    <div class="modal fade" id="divEditDialog_ResearchTopic" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_ResearchTopic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="lblDialogTitle_ResearchTopic">模态框（Modal）标题</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <table id="tabwucResearchTopic" name="tabwucResearchTopic" style="width: 600px; padding: 1px; border:0px" class="table table-bordered table-hover">
                        <tr style="display:none;">
                            <td class="NameTD">
                                <Label id="lblTopicId" name="lblTopicId" class="col-form-label text-right" style="width:90px;">
                                    主题编号
                                </Label>
                            </td>
                            <td class="ValueTD">
                                <input id="txtTopicId" name="txtTopicId" class="form-control" style="width:200px;" />
                            </td>

                        </tr>
                        <tr>
                            <td class="NameTD">
                                <Label id="lblTopicName" name="lblTopicName" class="col-form-label text-right" style="width:90px;">
                                    栏目主题
                                </Label>
                            </td>
                            <td class="ValueTD">
                                <input id="txtTopicName" name="txtTopicName" class="form-control" style="width:400px;" />
                            </td>

                        </tr>
                        <tr>
                            <td class="NameTD">
                                <Label id="lblTopicContent" name="lblTopicContent" class="col-form-label text-right" style="width:90px;">
                                    主题内容
                                </Label>
                            </td>
                            <td class="ValueTD">

                                <textarea id="txtTopicContent" name="txtTopicContent" class="form-control" style="width:500px;height:80px;"></textarea>
                                @*<input id="txtTopicContent" name="txtTopicContent" class="form-control" style="width:200px;" />*@
                            </td>

                        </tr>
                        <tr>
                            <td class="NameTD">
                                <Label id="lblShareId" name="lblShareId" class="col-form-label text-right" style="width:90px;">
                                    分享
                                </Label>
                            </td>
                            <td class="ValueTD">
                                <select id="ddlShareId" name="ddlShareId" class="form-control" style="width:200px;" />

                            </td>

                        </tr>
                        @*<tr>
                            <td class="NameTD">
                            <Label id="lblTopicProposePeople" name="lblTopicProposePeople" class="col-form-label text-right" style="width:90px;">
                            主题提出人
                            </Label>
                            </td>
                            <td class="ValueTD">
                            <input id="txtTopicProposePeople" name="txtTopicProposePeople" class="form-control" style="width:200px;" />
                            </td>

                            </tr>*@
                        <tr>
                            <td class="NameTD">
                                <Label id="lblOrderNum" name="lblOrderNum" class="col-form-label text-right" style="width:90px;">
                                    序号
                                </Label>
                            </td>
                            <td class="ValueTD">
                                <input id="txtOrderNum" name="txtOrderNum" class="form-control" style="width:200px;" />
                                <asp:CompareValidator id="ComValid_OrderNum" name="ComValid_OrderNum" runat="server" CssClass="ErrMsg"
                                                      ErrorMessage="请输入整型数值!"
                                                      ControlToValidate="txtOrderNum"
                                                      Type="Integer"
                                                      Operator="DataTypeCheck"
                                                      EnableClientScript="false">
                                </asp:CompareValidator>
                            </td>
                            @*<td>

                                </td>*@

                        </tr>
                        <tr>
                            <td class="NameTD">
                                <Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">
                                    备注
                                </Label>
                            </td>
                            <td class="ValueTD">
                                <textarea id="txtMemo" name="txtMemo" class="form-control" style="width:500px;height:40px;"></textarea>
                                @*<input id="txtMemo" name="txtMemo" class="form-control" style="width:200px;" />*@
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnCancel_ResearchTopic" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="btnSubmit_ResearchTopic" type="button" class="btn btn-primary" onclick="btnResearchTopic_Edit_Click('Submit')">添加</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <input id="hidOpType" type="hidden" />
    <input id="hidKeyId" type="hidden" />
</div>