
@page
@{
Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>
//所有用户自定义的JS函数建议都放在这里


</script>
     <script>    

 /**
  按钮单击,用于调用Js函数中btnEdit_Click
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_btnEdit_Click)
 **/
function btngs_MeetingMinutes_Edit_Click(strCommandName, strKeyId) {
   require(["../js/GraduateEduTopic/WA_gs_MeetingMinutes_EditEx.js"], function(gs_meetingminutes) {
gs_meetingminutes.WA_gs_MeetingMinutes_EditEx.btnEdit_Click(strCommandName, strKeyId);
});
}

 /**
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
 **/
function ShowDialog(strDialogName) {
   require(['jquery', 'bootstrap'], function($) {
 $(strDialogName).modal('show');
  });
}

 /**
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
 **/
function HideDialog(strDialogName) {
  require(['jquery', 'bootstrap'], function($) {
      $(strDialogName).modal('hide');
  });
}
    </script>
<div id = "divEditLayout" class = "tab_layout" 
>
@*-- 编辑层 --*@

 <div class="modal fade" id="divEditDialog_gs_MeetingMinutes" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_gs_MeetingMinutes" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
 <div class="modal-content" style="width: 635px;">
 <div class="modal-header">
 <h4 class="modal-title" id="lblDialogTitle_gs_MeetingMinutes">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width:600px" class="table table-bordered table-hover table td table-sm">
<tr id="trTopicId">
<td class="text-right">
<label id="lblMeetingId" name="lblMeetingId" class="col-form-label text-right" style="width:90px;">会议Id
</label>
</td>
<td class="text-left">
<input  id="txtMeetingId" name="txtMeetingId" class="form-control-sm" style="width:150px;"/>
</td>
<td class="text-right">
<label id="lblTopicId" name="lblTopicId" class="col-form-label text-right" style="width:90px;">主题编号
</label>
</td>
<td class="text-left">
<select id="ddlTopicId" name="ddlTopicId" class="form-control-sm" style="width:150px;"></select>
</td>
</tr>
<tr id="trMeetingContent">
<td class="text-left" ColSpan=2>
<span class="form-control-sm"  style="width:150px;">
<input type="checkbox"  id="chkIsSubmit" name="chkIsSubmit" Text = "是否提交"  ><label for="chkIsSubmit">是否提交</label></span>
</td>
<td class="text-right">
<label id="lblMeetingContent" name="lblMeetingContent" class="col-form-label text-right" style="width:90px;">会议内容
</label>
</td>
<td class="text-left">
<input  id="txtMeetingContent" name="txtMeetingContent" class="form-control-sm" style="width:150px;"/>
</td>
</tr>
<tr id="trMemo">
<td class="text-right">
<label id="lblMeetingDate" name="lblMeetingDate" class="col-form-label text-right" style="width:90px;">会议日期
</label>
</td>
<td class="text-left">
<input  id="txtMeetingDate" name="txtMeetingDate" class="form-control-sm" style="width:150px;"/>
</td>
<td class="text-right">
<label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">备注
</label>
</td>
<td class="text-left">
<input  id="txtMemo" name="txtMemo" class="form-control-sm" style="width:150px;"/>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel_gs_MeetingMinutes" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 <button  id="btnSubmit_gs_MeetingMinutes" type="button" class="btn btn-primary" onclick="btngs_MeetingMinutes_Edit_Click('Submit')">添加</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
<input id="hidOpType" type="hidden" />
<input id="hidKeyId" type="hidden" />
</div>