
@page
@{
    Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../js/site.js" asp-append-version="true"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>


 /*
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
 */
function HideDialog() {
  require(['jquery', 'bootstrap'], function($) {
      $('#divEditRegion').modal('hide');
  });
}

 /*
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
 */
function ShowDialog(pstrOp) {
   strOp = pstrOp;
   require(['jquery', 'bootstrap'], function($) {
       if (strOp === "Add") {
           $('#myModalLabel').html('添加记录');
//SysSkill_EditEx.GetMaxStrId('#txtSkillId');
        }
else if (strOp === "Update")
{
            $('#myModalLabel').html('修改记录');
}
else if (strOp === "Detail")
{
            $('#btnOKUpd').hide();
            $('#myModalLabel').html('详细信息');
}
        $('#divEditRegion').modal('show');
  });
}
</script>
<div id="tabLayout" class="tab_layout">
    @*-- 编辑层 --*@

    <div class="modal fade" id="divEditRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:935px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <table id="tabEdit" style="width:98%;" class="table table-bordered table-hover table td table-sm">
                        <tr style="display:none;">
                            <td>
                                <Label id="lblSkillId" name="lblSkillId" class="col-form-label text-right" style="width:90px;">
                                    技能Id
                                </Label>
                            </td>
                            <td>
                                <input id="txtSkillId" name="txtSkillId" class="form-control" style="width:150px;" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td>
                                <Label id="lblSkillName" name="lblSkillName" class="col-form-label text-right" style="width:90px;">
                                    技能名称
                                </Label>
                            </td>
                            <td>
                                <input id="txtSkillName" name="txtSkillName" class="form-control" style="width:300px;" />
                            </td>
                            <td ColSpan="2">
                                <span class="form-control" style="width:150px;">
                                    <input type="checkbox" id="chkIsSubmit" name="chkIsSubmit" Text="是否提交"><label for="chkIsSubmit">是否提交</label>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <Label id="lblOperationTypeId" name="lblOperationTypeId" class="col-form-label text-right" style="width:90px;">
                                    操作类型
                                </Label>
                            </td>
                            <td>
                                <select id="ddlOperationTypeId" name="ddlOperationTypeId" class="form-control" style="width:150px;"></select>
                            </td>
                            <td>
                                <Label id="lblLevelId" name="lblLevelId" class="col-form-label text-right" style="width:90px;">
                                    级别
                                </Label>
                            </td>
                            <td>
                                <select id="ddlLevelId" name="ddlLevelId" class="form-control" style="width:150px;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="NameTD">
                                <Label id="lblShareId" name="lblShareId" class="col-form-label text-right" style="width:90px;">
                                    分享
                                </Label>
                            </td>
                            <td class="ValueTD" colspan="3">
                                <select id="ddlShareId" name="ddlShareId" class="form-control" style="width:200px;" />

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <Label id="lblProcess" name="lblProcess" class="col-form-label text-right" style="width:90px;">
                                    实施过程
                                </Label>
                            </td>
                            <td ColSpan=5>
                                <textarea id="txtProcess" name="txtProcess" class="form-control" style="width:500px;height:260px;"></textarea>
                                @*<input id="txtProcess" name="txtProcess" class="form-control" style="width:350px;" />*@
                            </td>
                        </tr>
                        @*<tr>
                            <td>
                                <Label id="lblUpdUser" name="lblUpdUser" class="col-form-label text-right" style="width:90px;">
                                    修改人
                                </Label>
                            </td>
                            <td>
                                <input id="txtUpdUser" name="txtUpdUser" class="form-control" style="width:150px;" />
                            </td>
                            <td>
                                <Label id="lblUpdDate" name="lblUpdDate" class="col-form-label text-right" style="width:90px;">
                                    修改日期
                                </Label>
                            </td>
                            <td>
                                <input id="txtUpdDate" name="txtUpdDate" class="form-control" style="width:150px;" />
                            </td>
                        </tr>*@
                        <tr>
                            
                            <td>
                                <Label id="lblCitationId" name="lblCitationId" class="col-form-label text-right" style="width:90px;">
                                    引用Id
                                </Label>
                            </td>
                            <td>
                                <input id="txtCitationId" name="txtCitationId" class="form-control" style="width:150px;" />
                            </td>
                            <td colspan="2">
                                <button id="btnselectPaper" type="button" class="btn btn-primary btn-sm" style="margin-top:2px; width:100px;" onclick="selectPaper_Click()">引用文献</button>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">
                                    备注
                                </Label>
                            </td>
                            <td ColSpan=5>
                                <textarea id="txtMemo" name="txtMemo" class="form-control" style="width:500px;height:40px;"></textarea>
                                @*<input id="txtMemo" name="txtMemo" class="form-control" style="width:350px;" />*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="btnOKUpd" type="button" class="btn btn-primary" onclick="mySubmit()">添加</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>