<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assembly>
    <dll name="system.dll"/>
    <dll name="system.data.dll"/>
    <dll name="system.xml.dll"/>
    <dll name="system.windows.forms.dll"/>
    <dll name="FunButton.dll"/>
    <dll name="DynamicAddFunction.exe"/>
    <using name="using System;"/>
    <using name="using System.Data;"/>
    <using name="using System.Data.SqlClient;"/>
    <using name="using System.Data.OleDb;"/>
    <using name="using System.Xml;"/>
    <using name="using FunButton;"/>
    <using name="using System.Windows.Forms;"/>
    <using name="using DynamicAddFunction;"/>
  </assembly>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
