
@page
@{
Layout = "";
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/bootstrap/dist/js/popper.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}
<script>
//所有用户自定义的JS函数建议都放在这里


</script>
     <script>    

 /**
  按钮单击,用于调用Js函数中btnEdit_Click
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_btnEdit_Click)
 **/
function btnCurrEduCls_Edit_Click(strCommandName, strKeyId) {
   require(["../js/DailyRunning/CurrEduCls_EditEx.js"], function(curreducls) {
curreducls.CurrEduCls_EditEx.btnEdit_Click(strCommandName, strKeyId);
});
}

 /**
  显示对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_ShowDialog)
 **/
function ShowDialog(strDialogName) {
   require(['jquery', 'bootstrap'], function($) {
 $(strDialogName).modal('show');
  });
}

 /**
  隐藏对话框
 (AutoGCLib.WA_ViewScript_Edit_TS4Html:Gen_WApi_JS_HideDialog)
 **/
function HideDialog(strDialogName) {
  require(['jquery', 'bootstrap'], function($) {
      $(strDialogName).modal('hide');
  });
}
    </script>
<div id = "divEditLayout" class = "tab_layout" 
>
@*-- 编辑层 --*@

 <div class="modal fade" id="divEditDialog_CurrEduCls" tabindex="-1" role="dialog" aria-labelledby="lblDialogTitle_CurrEduCls" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
 <div class="modal-content" style="width: 635px;">
 <div class="modal-header">
 <h4 class="modal-title" id="lblDialogTitle_CurrEduCls">模态框（Modal）标题</h4>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 </div>
 <div class="modal-body">
<table id="tabEdit" style="width:600px" class="table table-bordered table-hover table td table-sm">
<tr id="trEduClsName">
<td class="text-right">
<label id="lblCurrEduClsId" name="lblCurrEduClsId" class="col-form-label text-right" style="width:90px;">教学班Id
</label>
</td>
<td class="text-left">
<input  id="txtCurrEduClsId" name="txtCurrEduClsId" class="form-control-sm" style="width:150px;"/>
</td>
<td class="text-right">
<label id="lblEduClsName" name="lblEduClsName" class="col-form-label text-right" style="width:90px;">教学班名称
</label>
</td>
<td class="text-left">
<input  id="txtEduClsName" name="txtEduClsName" class="form-control-sm" style="width:150px;"/>
</td>
</tr>
<tr id="trid_XzCollege">
<td class="text-right">
<label id="lblCourseId" name="lblCourseId" class="col-form-label text-right" style="width:90px;">课程
</label>
</td>
<td class="text-left">
<select id="ddlCourseId" name="ddlCourseId" class="form-control-sm" style="width:150px;"></select>
</td>
<td class="text-right">
<label id="lblid_XzCollege" name="lblid_XzCollege" class="col-form-label text-right" style="width:90px;">学院
</label>
</td>
<td class="text-left">
<select id="ddlid_XzCollege" name="ddlid_XzCollege" class="form-control-sm" style="width:150px;"></select>
</td>
</tr>
<tr id="trIsEffective">
<td class="text-right">
<label id="lblid_GradeBase" name="lblid_GradeBase" class="col-form-label text-right" style="width:90px;">年级
</label>
</td>
<td class="text-left">
<select id="ddlid_GradeBase" name="ddlid_GradeBase" class="form-control-sm" style="width:150px;"></select>
</td>
<td class="text-left" ColSpan=2>
<span class="form-control-sm"  style="width:150px;">
<input type="checkbox"  id="chkIsEffective" name="chkIsEffective" Text = "是否有效"  ><label for="chkIsEffective">是否有效</label></span>
</td>
</tr>
<tr id="trSchoolTerm">
<td class="text-right">
<label id="lblSchoolYear" name="lblSchoolYear" class="col-form-label text-right" style="width:90px;">学年
</label>
</td>
<td class="text-left">
<select id="ddlSchoolYear" name="ddlSchoolYear" class="form-control-sm" style="width:150px;"></select>
</td>
<td class="text-right">
<label id="lblSchoolTerm" name="lblSchoolTerm" class="col-form-label text-right" style="width:90px;">学期
</label>
</td>
<td class="text-left">
<select id="ddlSchoolTerm" name="ddlSchoolTerm" class="form-control-sm" style="width:150px;"></select>
</td>
</tr>
<tr id="trMemo">
<td class="text-right">
<label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">备注
</label>
</td>
<td class="text-left" ColSpan=3>
<input  id="txtMemo" name="txtMemo" class="form-control-sm" style="width:400px;"/>
</td>
</tr>
</table>
 </div>
 <div class="modal-footer">
 <button  id="btnCancel_CurrEduCls" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
 <button  id="btnSubmit_CurrEduCls" type="button" class="btn btn-primary" onclick="btnCurrEduCls_Edit_Click('Submit')">添加</button>
 </div>
 </div>
 <!-- /.modal-content -->
 </div>
 <!-- /.modal -->
 </div>
<input id="hidOpType" type="hidden" />
<input id="hidKeyId" type="hidden" />
</div>